.mt-6{"data-controller" => "colour-picker"}
  %p.text-sm.font-medium.text-gray-700
    = t('admin.scheduleCategories.selectColour')
  %ul.flex.flex-wrap
    - AVAILABLE_COLOURS.each do |colour|
      %li{class: "m-2 h-8 w-8 flex items-center justify-center bg-#{colour}-300 rounded-full", "data-action" => "click->colour-picker#update", "data-colour-picker-colour-param" => colour, "data-colour" => colour, "data-colour-picker-target" => "checked"}
  = hidden_field_tag 'schedule_category[colour]', schedule_category.colour, data: { 'colour-picker-target': "field" }
/ bg-slate-300 bg-red-300 bg-orange-300 bg-amber-300 bg-yellow-300 bg-lime-300
/ bg-green-300 bg-emerald-300 bg-cyan-300 bg-sky-300 bg-blue-300 bg-indigo-300
/ bg-violet-300 bg-purple-300 bg-fuchsia-300 bg-pink-300 bg-rose-300 bg-teal-300 bg-gray-300