%tr
  %td{class: td_class.render}
    = render partial: "shared/booking_card", locals: {schedule_category_name: schedule_category.name, schedule_category_colour: schedule_category.colour, participants: nil}
  %td{class: td_class.render}
    .flex.gap-x-4.justify-end
      = render partial: 'shared/button_edit', locals:  {destination: edit_admin_schedule_category_path(schedule_category)}
      = render partial: 'shared/button_delete', locals:  {destination: {model: [:admin, schedule_category]} }