%tr
  %td{class: td_class.render}
    = render "shared/booking_card", schedule_category_name: schedule_category.name, schedule_category_colour: schedule_category.colour, participants: nil
  %td{class: td_class.render}
    .flex.gap-x-4.justify-end
      = render 'shared/button_edit', destination: edit_admin_schedule_category_path(schedule_category), data: { target: "_top" }
      = render 'shared/button_delete', destination: {model: [:admin, schedule_category]}