= render partial: "shared/booking_card", locals: {schedule_category_name: result.schedule_category_name, schedule_category_colour: result.schedule_category_colour, participants: result.participants, schedule_blocked: result.schedule_blocked}
