= link_to destination, class: "rounded-full bg-blue-50 px-3.5 py-2.5 text-sm font-semibold text-blue-600 shadow-sm hover:bg-blue-100", data: { target: "_top" } do
  .flex
    %svg.-ml-1.mr-2.h-5.w-5{fill: "currentColor", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24"}
      %path{d: "M12 4v16m8-8H4"}
    = title
