= link_to destination, class: button_class.render(style: :primary, size: :large), data: { target: "_top" } do
  %svg.-ml-1.mr-2.h-5.w-5{fill: "currentColor", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24"}
    %path{d: "M12 4v16m8-8H4"}
  = title
