.md:flex.md:items-center.md:justify-between
  .flex-1.min-w-0.flex.items-center
    %h2.flex.items-center.text-2xl.font-bold.leading-7.text-neutral-800.sm:text-3xl.sm:leading-9.sm:truncate
      = title
  .mt-4.flex.md:mt-0.md:ml-4.items-center
    = yield 
