%section.h-full
  .flex.flex-col.items-center.justify-center.px-6.py-8.h-full.lg:py-0
    %div{class: form_card_class.render(padding: :spacious, width: :md)}
      %h1.text-xl.font-bold.leading-tight.tracking-tight.text-gray-900.md:text-2xl.text-center
        = t('passwords.form.forgot')
      = tw_form_with url: passwords_path, class: "mt-6 space-y-5" do |form|
        %div
          = form.email_input :email, placeholder: t('sessions.form.placeholderEmail'), value: params[:email]
        .mt-2
          = form.submit t('passwords.form.instructions'), class: submit_button_class.render(style: :auth, size: :full)
